@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: inherit;
}
body{
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
color: #1D1D1D;
font-size: 1rem;
background-color: #fff;
max-width: 100%;
width: 100%;
background-color: #fff;
position: relative;
}
.MuiContainer-root {
   align-items: center;
    justify-content: space-between; 
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.css-1e3jqh{
    background-color: #fff; /* Arka plan rengini tanımla */
    color: #fff;
  /*  box-shadow: 0px 10px 0 rgba(0, 0, 0, 0.2)  */
}

header{
margin: 0;
background-color: #F8F9FA;
}
main{
display: block;
unicode-bidi: isolate;
}/*
footer{

}
*/
.navbar-nav {
    white-space: nowrap;
}
.griAlan{
    background-color: #293349;
    width: 100%;
    height: 126px;
    position: relative;
}
.css-1aqbj7p{
    background-color: #F6F8FF;
    width: 100%;
    max-width: 100%;
}
.element-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;;
    top: 50px;
    left: 21%;
}
.element-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 20.5%;
    top: 44px;
}


.css-1u594y4{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    position: relative;
    z-index: 3;
    right: 0;
}
.slick-list{
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    top: 65px;
}
.slick-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0px 16px 16px 0px;
    border-image-slice: 0 16 16 0;
    border-image-source: linear-gradient(-125deg, transparent 13px, #00C26D 0 calc(100% - 9px), transparent 0);
        
    }
.css-56k8jx{
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #F0F0F0;
}
.css-1qsxih2{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
#carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    /* transition: transform 0.5s ease; */
    width: 1032px;
    overflow: hidden;
    margin: 0 auto;
  }
.carousel-control-prev, .carousel-control-next{
    opacity:1;
    transition: transform 0.5s ease;
}
  #customCarousel{
    display: flex;
  width: 1032px; /* 5 görsel x 170px genişlik + boşluklar */
  overflow: hidden;
  margin: 0 auto; /* Ortaya hizalar */
  position: relative;
  }
  .carousel-item.active {
    display: flex;
    justify-content: center;
  }
  
  #customCarousel .carousel .slide {
    overflow: hidden;
    justify-content: center;
  }

  #carouselPrev,#carouselPrev1,#carouselPrev2,  #carouselNext,#carouselNext1,#carouselNext2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:url('https://www.techcareer.net/assets/images/common/pagination-icon.svg');
    background-repeat: no-repeat;
    color: #fff;
    border: none;
    padding: 25px;
    cursor: pointer;
    z-index: 2;
  }
  
  #carouselPrev,#carouselPrev1,#carouselPrev2  {
    left: 30px; /* Butonların sola hizalanması */
    transform:translateY(-50%) rotate(180deg);
    content: "←";
  }

  #carouselPrev::before,#carouselPrev1::before,#carouselPrev2::before  {
    opacity: 1;
    color:#fff;
  }
 

  #carouselNext,#carouselNext1,#carouselNext2 {
    right: 10px; /* Butonların sağa hizalanması */
  }
  #carouselNext::before,#carouselNext1::before,#carouselNext2::before {
    opacity: 1;
    color:#fff;
  }
  span .carousel-control-prev-icon{
    display: none;
  }
.css-1mua0o4{
    background-color: #F6F6F6;
    padding-top: 48px;
    padding-bottom: 48px;
}
.css-1qsxih2{
    /*width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;*/
    padding: 16px; /* Padding değerini ihtiyacınıza göre ayarlayın */
    max-width: 1200px; /* Genişliği ekran boyutuna göre ayarlayın */
    margin: 0 auto; /* Ortalamak için auto margin kullanın */
}
.css-1sg0zbq{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-bottom: 32px;
    color: #1D1D1D;
}
h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}
.css-hvihbn {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
 /*   margin-top: -20px; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-adfut0{
    margin:0;
    font:inherit;
    color:#00C26D;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.css-9s7n10 {
    width: 100%;
    position: relative;
    border-radius: 4px;
    margin-top:-60px;
    padding: 16px;
    padding-bottom: 16px;
}

.css-cxrmjv {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 7px;
    padding-right: 7px;
    white-space: nowrap;
}
.css-1d3bbye{
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.css-1coxk5r {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 58.333333%;
    -ms-flex-preferred-size: 58.333333%;
    flex-basis: 58.333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 58.333333%;
    padding: 16px;
    padding-right: 0px;
}
.css-1l56znf {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 41.666667%;
    -ms-flex-preferred-size: 41.666667%;
    flex-basis: 41.666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 41.666667%;
    padding: 16px;
}
.card-img-top {
    object-fit: cover;
}
.chip {
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid #6c757d;
    border-radius: 16px;
    background-color: #f8f9fa;
    color: #6c757d;
    display: inline-block;
}
.chip.secondary {
    border-color: #007bff;
    color: #007bff;
}
.full-width {
    width: 100%;
}
.divider {
    border-top: 1px solid #dee2e6;
    margin: 20px 0;
}
.card-container {
    margin-bottom: 20px;
}
.card-img-top{
    margin-top: 10px;
}

@media (min-width: 600px) {
    .css-1qsxih2 {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 1200px) {
    .css-1qsxih2 {
        max-width: 1200px;
    }
}
.css-d7xnu1 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: white;
}
.display-5 {
    font-size: 2.5rem; /* Başlığı daha büyük hale getirmek için */
    font-weight: 600;
}
.css-1u3t278 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: calc(100% + 24px);
    margin-left: -24px;
}
.css-1lmghtu {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.css-1qm1lh {
    margin-bottom: 16px;
}
.css-nl5o9c {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    margin-bottom: 8px;
    word-break: break-word;
}
.css-1g4jgci {
    margin: 0;
    font-size: 0.875rem;
    letter-spacing: 0.17px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    word-break: break-word;
}
.css-be7eom {
    margin: 0;
    font-size: 1.5625rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
}
.css-7t82bl {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.15px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #00C26D;
}
@media (min-width: 900px) {
    .css-1s4dy3l {
        background: #EFFFEB url('https://www.techcareer.net/assets/images/pages/careerGuide/common/cta-bg-desktop.svg') right bottom no-repeat;
        max-height: 500px;
    }
}
.css-18j1132 {
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 48px;
    padding-bottom: 48px;
}
.css-fm7guu {
    margin: 0;
    font-size: 1.5625rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

 /*
.css-u7q6xk{
    
}
 Belirli bir container içindeki ilk row g-0 
.MuiBox-root.css-18j1132 .MuiContainer-root.css-1qsxih2 .carousel-inner .carousel-item .d-flex .row.g-0 {
    
} */

#bodyAuthor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.css-18j1132 .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px; /* Yuvarlak kenarları korumak için */
}


.col-md-8 {
    overflow-y: hidden; /* col-md-8 divi içinde scrollbar oluşmasını engeller */
}

.scrollable-text {
    max-height: 150px; /* Yazının kaplayacağı maksimum yükseklik */
    overflow-y: auto; /* Scrollbar aktif etmek için */
    padding-right: 10px; /* Scrollbar ile metin arasında boşluk bırakır */
    margin-right: -10px; /* İkinci scrollbar'ı engellemek için */
}
.sahis {
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px;
}
.svgTirnak {
    position:absolute;
    margin-right: 8px;
    top:0;
    left:-40px;
}
.ms-1 .card-text + .card-text{
    margin-top:0;
}

.css-1i4mfz {
    display: inline-flex; /* Elemanları yatay olarak hizalar */
    align-items: center;  /* Dikey hizalamayı ortalar */
    text-decoration: none; /* Alt çizgiyi kaldırır */
    color: #00C26D;
}

.css-1i4mfz .css-pt151d {
    margin-left: 8px; /* İkon ile metin arasında boşluk bırakır */
    display: inline-flex; /* İkonun hizalanmasını sağlar */
}

.css-vubbuv {
    width: 20px;
    height: 20px;
    color:#00C26D;
}
.yesilButon{
    font-weight: 500;
}
.css-fd2ajh{
    background-color: #293349;
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    color:#fff;
}
.css-1e8t2v3 {
    margin:0;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    margin-bottom: 16px;
}
.css-blwhuo {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.33;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 32px;
}
form{
    display: block;
    margin-top:0em;

}
/*
.css-1l4w6pd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
    
.css-1xp7el {
    position: relative;
}
.css-1tenbrk {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
}
.css-dafp8o {
    font-size: 1rem;
    letter-spacing: 0.15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    color: #1D1D1D;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding-left: 14px;
    background-color: #fff;
    padding-right: 112px;
}
.css-bocs3y {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
    background-color: #00C26D;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: none;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: 0.025rem;
    font-size: 0.938rem;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-1a6giau {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 8px;
}
.css-ihdtdm {
    float: unset;
    width: auto;
    overflow: hidden;
    padding: 0;
    line-height: 11px;
    -webkit-transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    transition: width 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    unicode-bidi: isolate;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
.css-igs3ac {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}
    */

.css-oglgd8{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-family: Roboto, sans-serif;
    line-height: 1.75;
    margin-top: 32px;
    color: #00C26D;
}    
.input-group {
    max-width: 500px;
    height: 50px;
    line-height: 50px;
    margin: auto;
  }
  
  .input-group-text {
    background-color: #f1f1f1;
  }
  
  
  
  .btn-success {
    border-radius: 0;
    background-color: #00C26D;
    border-radius: 10px;
  }
  
  input::placeholder {
    color: #999;
  }
  .css-1n2xzy7 {
    display: flex;
    justify-content: center;
    align-items: center; /* Dikey hizalama */
    margin: auto;
    margin-bottom: 5px;
}
.css-1792bpf {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.15px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
}
.css-t9ugv8 {
    width: 1px; /* Dikey çizgi gibi görünmesi için */
    height: 24px; /* İhtiyaca göre yüksekliği ayarlayın */
    background-color: #D8D8D8;
    margin: 0 12px; /* Çizginin iki tarafındaki boşluk */
    border: none; /* Varsayılan hr stilini kaldırır */
    /* margin: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: #D8D8D8;
    border-bottom-width: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto;
    border-right-width: thin;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; */
}
hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.css-1792bpf, .css-1mbxzer {
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.css-4v6a2j {
    margin: 0;
    font: inherit;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #fff;
}

#footer {
    display: flex;
    position: relative;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    height: 500px;
}

#footer h5 {
    font-size: 16px;
    color: #6c757d;
    opacity: 0.6;
    
}

#footer ul {
    padding-left: 0;
}

#footer ul li a {
    color: #1D1D1D;
    text-decoration: none;
    font-weight: 500;
    ;
}

#footer ul li a:hover {
    text-decoration: solid;
}

#footer-divider {
    border-color: #d8d8d8;
}

#language-switcher .list-inline-item a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

#language-switcher .list-inline-item a:hover {
    color: #007bff;
}

.fab {
    font-size: 18px;
    color: #666;
    margin-right: 10px;
}

.fab:hover {
    color: #007bff;
}

#footer-social img {
    max-width: 150px;
}

#footer p {
    font-size: 14px;
    margin-bottom: 5px;
}
#techcareer ul li {
    font-size: 0.875rem;
    margin-bottom: 15px; 
}
#apply ul li {
    font-size: 0.875rem;
    margin-bottom: 15px; 
}
#for-you ul li {
    font-size: 0.875rem;
    margin-bottom: 15px; 
}
#privacy-policy ul li {
    font-size: 0.875rem;
    margin-bottom: 15px; 
}
.sosyal-medya-baslik{
    margin: 0;
    font-size: 0.875rem;
    letter-spacing: 0.17px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    color: #878787;
    text-transform: uppercase;
    margin-bottom: 17.6px;
}
#footer-center div{
    font-size:0.75rem;
}
.mail{
    text-decoration:none;
    color:#878787;
}
.small-text{
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.15px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    color: #878787;
    font-size: 0.55rem;
    word-wrap: break-word;
}
.griAlan {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.css-1mua0o4 .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 400px;
  }
  .css-1mua0o4 .card .d-flex {
    justify-content: center;
    text-align: center;
    font-size: 0.8125rem;
  }
  .css-1mua0o4 .card .card-title{
    justify-content: center;
    text-align: center;
  }

  .css-1mua0o4 .card img{
    justify-content: center;
    text-align: center;
  }
  .custom-path{
    fill: #00C26D;
    d: path("M19.364 11.271c.038.503.038.927.116 1.391a11.45 11.45 0 0 0 1.854 4.945c.463.734 1.043 1.352 1.66 1.931.619.54 1.275 1.043 2.01 1.43.193.115.424.193.618.308.116.039.193.116.309.155.425.154.85.309 1.274.425.116.038.232.038.348.077.386.077.54-.425.232-.618-.078-.039-.155-.116-.27-.154-.31-.194-.58-.425-.85-.657a3.5 3.5 0 0 0-.387-.348 3.5 3.5 0 0 1-.348-.386c-.463-.502-.811-1.082-1.12-1.661-.309-.58-.502-1.198-.656-1.816-.039-.116-.039-.231-.078-.309-.038-.193.116-.386.348-.386h4.906a3.67 3.67 0 0 0 3.67-3.67V5.67A3.67 3.67 0 0 0 29.33 2h-6.258a3.67 3.67 0 0 0-3.67 3.67v4.017c0 .193 0 .425-.038.618v.966M3 11.271c.039.503.039.927.116 1.391a11.45 11.45 0 0 0 1.854 4.945c.464.734 1.043 1.352 1.661 1.931.618.54 1.275 1.043 2.009 1.43.193.115.425.193.618.308.116.039.193.116.31.155.424.154.849.309 1.274.425.116.038.232.038.347.077.387.077.541-.425.232-.618-.077-.039-.154-.116-.27-.154-.31-.194-.58-.425-.85-.657a3.5 3.5 0 0 0-.387-.348 3.5 3.5 0 0 1-.347-.386c-.464-.502-.812-1.082-1.12-1.661-.31-.58-.503-1.198-.657-1.816-.039-.116-.039-.231-.077-.309-.039-.193.115-.386.347-.386h4.907a3.67 3.67 0 0 0 3.67-3.67V5.67A3.67 3.67 0 0 0 12.966 2H6.708a3.67 3.67 0 0 0-3.67 3.67v4.017c0 .193 0 .425-.038.618v.966")
  }
  .buyukResim {
    position: relative;
    width: 100%;
    height: 400px;
    background:url('https://www.techcareer.net/assets/images/call-to-actions/pages/user-stories/background.png');
  }
  .custom-section {
    background-image: url('https://www.techcareer.net/assets/images/call-to-actions/pages/user-stories/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 0 0px;
    display: flex;
    align-items: center;
    }
    .left-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    }

    .left-column h1 {
    margin-top: 20px;
    color:white;
    font-weight: 600;
    }
    .left-column span{
        color:#00C26D;
        font-weight: 500;
    }

    .vector-image {
    width: 320px;
    height: 250px;
    }
    .custom-section .left-column .breadcrumb a {
        color:white;
        text-decoration: none;
    }
    .custom-section .left-column p {
        color:white;
        font-size: 1rem;
        font-family: Roboto, sans-serif;
        line-height: 1.5;
        display: flex;
    }
    .custom-section .left-column button {
        color:white;
        font-size: 1rem;
        background-color: #00C26D;
        width: 150px;
        height: 30px;
    }
    .left-column .breadcrumb{
        margin-top: 0;
    }
    .col-12 .col-md-3 .mb-3 {
        width: 100%;
        max-width: 100%;
    }
    main{
        background-color:#F6F6F6 ;
    }
    .enDis {
            justify-content: center; /* Ortaya hizalamak için yatayda */
    }
    .disDiv{
            padding: 0 24px;
    }
    .outer-div {
            padding-left: 24px;
            padding-right: 24px;
        }
    .yesilAlan{
        background-color: #00C26D;
    }
    .yesilAlanic{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    }
    .yesilAlanic2 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    }
    .yesilAlanMetin{
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .yesilAlanH2{
        font-size: 1.5625rem;
        font-weight: 500;
        letter-spacing: 0.25;
        line-height: 1.2;
        text-align: center;
        color: white;
    }
    nav a {
        text-decoration: none;
        color: wheat;
    }
    .page-link:hover {
      background-color: #ECECEC; /* Arka plan rengini değiştirir */
      color: #1D1D1D; /* Metin rengini değiştirir */
      text-decoration: none; /* Alt çizgiyi kaldırır */
    }
    .page-item .page-link{
        color:#1D1D31;
        width: 40px;
    }
    .page-item.active .page-link {
      background-color: #00C26D; /* Aktif sayfanın arka plan rengi */
      color: #fff; /* Aktif sayfanın metin rengi */
      border-color: #00C26D; /* Aktif sayfanın kenarlık rengi */
    }
    .pagination-container {
      display: flex;
      justify-content: center; /* Yatayda ortalar */
      align-items: center; /* Dikeyde ortalar */
    }
    .page-item.disabled .page-link {
      color: #6c757d; /* "..." butonunun metin rengi */
      pointer-events: none; /* Tıklanamaz yapar */
      background-color: transparent; /* Arka plan rengini kaldırır */
      border: none; /* Kenarlık kaldırılır */
    }
    .quote-card {
      border: 1px solid #dee2e6;
      border-radius: .25rem;
      margin: 1rem 0;
      background-color: #f8f9fa;
      max-width: 1200px;
      padding-left: 24px;
      padding-right:24px;
      align-items: center;
      justify-content: center;

    }
    .quote-header {
      font-weight: bold;
      cursor: pointer;
      padding: 0.75rem 1.25rem;
      margin: 0;
      border-bottom: 1px solid #dee2e6;
    }
    .quote-content {
      padding: 1rem;
    }
    .card .card-body .row .col-6 div:last-of-type {
    font-weight: bold;
  }
.users{
    justify-content: center;
    align-items: center;
    text-align: center;
}
